<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ffffff</key>
	<string>12</string>
	<key>qiushaoyi</key>
	<string>18</string>
	<key>wuna</key>
	<string>16</string>
</dict>
</plist>
